{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block header %}
    {#    <nav class="navbar navbar-dark bg-primary">#}
    {#        <a class="navbar-brand" href="#">#}
    {#            <img src="{% static 'img/logo.png' %}" width="30" height="30"#}
    {#                 class="d-inline-block align-top" alt="">#}
    {#            Expenses#}
    {#        </a>#}
    {#    </nav>#}
{% endblock header %}
{% block style %}
    <link rel="stylesheet" href="{% static 'css/bootstrap-datepicker.min.css' %}">
    <style>
        .tableFixHead {
            overflow-y: scroll;
        }

        .tableFixHead thead th {
            position: sticky;
            top: -2px;
        }

        .tableFixHead tfoot td {
            position: sticky;
            bottom: 0;
            background: #eee;
        }

        .tableFixHead {
            display: block;
            height: 83vh;
            overflow-y: scroll;
        }


        th {
            background: #eee;
        }
    </style>
{% endblock style %}
{% block content %}
    <div class="mt-5"></div>
    <div class="container">
        <div class="row mt-2">
            <div class="col-lg-6 col-sm-12">
                <table class="table table-striped tableFixHead" id="e_i_table">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Date</th>
                        <th scope="col">Amount</th>
                        <th scope="col">Tags</th>
                        <th scope="col">Mode</th>
                        <th scope="col">Type</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for e in incomeAndExpense %}
                        {% ifequal e.type 'income' %}
                            <tr style="color:green">
                                <th scope="row">{{ forloop.counter }}</th>
                                <td>{{ e.date|date:"d/m/y" }}</td>
                                <td>{{ e.amount }}</td>
                                <td title="{{ e.tags }}">{{ e.tags|slice:':15' }}</td>
                                <td>{{ e.mode }}</td>
                                <td>{{ e.type|slice:':1' }}</td>
                            </tr>
                        {% else %}
                            <tr style="color:red">
                                <th scope="row">{{ forloop.counter }}</th>
                                <td>{{ e.date|date:"d/m/y" }}</td>
                                <td>{{ e.amount }}</td>
                                <td title="{{ e.tags }}">{{ e.tags|slice:':15' }}</td>
                                <td>{{ e.mode }}</td>
                                <td>{{ e.type|slice:':1' }}</td>
                            </tr>
                        {% endifequal %}

                    {% endfor %}
                    </tbody>
                    <tfoot>
                    <tr style="color: #002a80;font-weight: bolder">

                        <td>
                            <button class="btn-primary" style="display: inline;" onclick="gotoTop()">▴</button>
                            <button class="btn-danger" style="display: inline;" onclick="gotoBottom()">▾</button>
                        </td>
                        <td>Total : {{ total }}</td>
                        <td>Bank Balance</td>
                        <td>{{ bank_balance }}</td>
                        <td>Cash Balance</td>
                        <td>{{ cash_balance }}</td>
                    </tr>

                    </tfoot>
                </table>
            </div>
            <div class="col-lg-6 col-sm-12">
                <div class="accordion" id="accordionExample">
                    <div class="card">
                        <div class="card-header" id="headingOne">
                            <h5 class="mb-0">
                                <button class="btn btn-link" type="button" data-toggle="collapse"
                                        data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    Add multiple Expenses
                                </button>
                            </h5>
                        </div>

                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                             data-parent="#accordionExample">
                            <div class="card-body">
                                <div class="card">
                                    <form action="{% url 'home:expense_create_multiple' %}" method="post">
                                        {% csrf_token %}
                                        {{ form_set_expenses.management_form }}

                                        <table class="table">
                                            <thead>
                                            {% for form in form_set_expenses %}
                                                {% if forloop.first %}
                                                    {% for field in form %}
                                                        <th>{{ field.label_tag }}</th>
                                                    {% endfor %}
                                                {% endif %}
                                                </thead>
                                                <tbody>
                                                <tr>
                                                    {% for f in form %}
                                                        {% ifequal f.name 'date' %}
                                                            <td>{% render_field f class="form-control datepicker" autocomplete="off" %}
                                                                {# placeholder=f.label  #}</td>
                                                        {% else %}
                                                            <td>{% render_field f class="form-control" %}
                                                                {# placeholder=f.label  #}</td>
                                                        {% endifequal %}
                                                    {% endfor %}
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                            <tfoot>
                                            <tr>
                                                <td style="padding: 10px 5px"><input type="text" id="set_all_date"
                                                                                     class="form-control datepicker">
                                                </td>
                                                <td style="padding: 10px 5px">
                                                    <button type="button" class="btn btn-primary" onclick="set_all()">
                                                        Set to all
                                                    </button>
                                                </td>
                                                <td style="padding: 10px 5px"></td>
                                                <td style="padding: 10px 5px"><input type="submit"
                                                                                     class="btn btn-success"></td>
                                            </tr>
                                            </tfoot>
                                        </table>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingTwo">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                        data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    Add multiple Income
                                </button>
                            </h5>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                             data-parent="#accordionExample">
                            <div class="card-body">
                                <div class="card">
                                    <form action="{% url 'home:income_create_multiple' %}" method="post">
                                        {% csrf_token %}
                                        {{ form_set_income.management_form }}

                                        <table class="table">
                                            <thead>
                                            {% for form in form_set_income %}
                                                {% if forloop.first %}
                                                    {% for field in form %}
                                                        <th>{{ field.label_tag }}</th>
                                                    {% endfor %}
                                                {% endif %}
                                                </thead>
                                                <tbody>
                                                <tr>
                                                    {% for f in form %}
                                                        {% ifequal f.name 'date' %}
                                                            <td>{% render_field f class="form-control datepicker" autocomplete="off" placeholder=f.label %}</td>
                                                        {% else %}
                                                            <td>{% render_field f class="form-control" placeholder=f.label %}</td>
                                                        {% endifequal %}
                                                    {% endfor %}
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                            <tfoot>
                                            <tr>
                                                <td style="padding: 10px 5px"><input type="text" id="set_all_date"
                                                                                     class="form-control datepicker">
                                                </td>
                                                <td style="padding: 10px 5px">
                                                    <button type="button" class="btn btn-primary" onclick="set_all()">
                                                        Set to all
                                                    </button>
                                                </td>
                                                <td style="padding: 10px 5px"></td>
                                                <td style="padding: 10px 5px"><input type="submit"
                                                                                     class="btn btn-success"></td>
                                            </tr>
                                            </tfoot>
                                        </table>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="row mt-2">

            <div class="col-lg-6">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="{% static 'img/stats.png' %}" style="height: auto;width: 200px">
                    <div class="card-body">
                        <h5 class="card-title btn-primary" style="display: inline;padding: 5px">Average Exp.
                            {{ stats.daily_expenses_mean }} ₹</h5>
                        <br>
                        <br>
                        <h5 class="card-title btn-primary"
                            style="display: inline;padding: 5px">Median
                            Exp.
                            {{ stats.daily_expenses_median }} ₹</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <canvas id="myChart"></canvas>
            </div>
        </div>
    </div>
    <div class="mb-5"></div>
{% endblock content %}

{% block footer %}{% endblock footer %}

{% block script %}
    <script src="{% static 'js/bootstrap-datepicker.min.js' %}"></script>
    <script>
        $('.datepicker').datepicker({
            format: 'd/m/yy',
            autoclose: true,
        });


    </script>
    <script>
        function set_all() {
            $('.datepicker').each(function (index, value) {
                $(this).val($('#set_all_date').val())
            })
        }
    </script>
    <script>
        function gotoTop() {
            var objDiv = document.getElementById("e_i_table");
            objDiv.scrollTop = 0;
        }

        function gotoBottom() {
            var objDiv = document.getElementById("e_i_table");
            objDiv.scrollTop = objDiv.scrollHeight;
        }

    </script>
    <script>
        var speedData = {
            labels: [
                {% for a in stats.dates_array%}
                    "{{ a }}" ,
                {% endfor %}
            ],
            datasets: [{
                label: "income",
                data: [
                    {% for a in stats.daily_income%}

                        {{ a }},
                    {% endfor %}
                ],
                backgroundColor: ['rgba(0, 171,12, 0.7)'],
            },
                {
                    label: "expenses",
                    data: [
                        {% for a in stats.daily_expenses%}

                            {{ a }},
                        {% endfor %}
                    ],
                    backgroundColor: ['rgba(180, 20,20, 0.7)'],
                },
            ]

        };

        var chartOptions = {
            legend: {
                backgroundColor: 'red',
                display: true,
                position: 'top',
                labels: {
                    boxWidth: 80,
                    fontColor: 'black'
                }
            }
        };
        var ctx = document.getElementById('myChart').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'line',
            data: speedData,
            options: chartOptions
        });
    </script>
{% endblock script %}