{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/bootstrap-datepicker.min.css' %}">
    <style>
        .tableFixHead {
            overflow-y: scroll;
        }

        .tableFixHead thead th {
            position: sticky;
            top: -2px;
        }

        .tableFixHead tfoot td {
            position: sticky;
            bottom: 0;
            background: #eee;
        }

        .tableFixHead {
            display: block;
            height: 83vh;
            overflow-y: scroll;
        }


        th {
            background: #eee;
        }

        .modal-dialog, .modal-dialog-centered {
            max-width: 80%;
        }

        @media only screen and (max-width: 768px) {
            .modal-dialog, .modal-dialog-centered {
                max-width: 100%;
            }

            .tableFixHead {
                font-size: .8rem;
            }

            .table-tag {
                display: block;
                width: 100px;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }

            .table-date {
                display: block;
                width: 70px;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }

            .table-mode {


                width: 100px;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }

            .table th, .table td {
                padding: .50rem;
            }

            .mr-tp-responsive {
                margin-top: 5rem;
            }


        }

        .btn:focus {
            box-shadow: none;
        }

        .max-height {
            height: 400px !important;
        }

        .navbar-light .navbar-nav .nav-link, .navbar-light .navbar-nav .nav-link:hover {
            color: rgba(255, 255, 255, 1);
        }

    </style>
{% endblock style %}
{% block header %}
    <nav class="navbar navbar-expand-lg navbar-light bg-info fixed-top">
        <a class="navbar-brand" href="#"><b class="text-white">Daily Expense Tracker</b></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">

                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Dropdown
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-success my-2 my-sm-0" type="submit">Search</button>
            </form>
            <button class="btn btn-danger my-2 my-sm-0 ml-lg-2" type="submit">Logout</button>
        </div>
    </nav>
{% endblock header %}
{% block content %}
    <div class="mt-5"></div>
    <div class="mt-5"></div>
    <div class="container" style="padding: 15px">
        <div class="row">
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-header">
                        You have <b class="text-primary">{{ bank_balance }} ₹</b> in your account
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-header">
                        Last spent <b class="text-success">{{ stats.today_expenses }} ₹</b> on <b
                            class="text-success">{{ stats.today_date }}</b>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container max-height" style="padding: 15px;">
        <div class="row mt-4x">
            <div class="col-lg-6 col-sm-12">
                <a data-toggle="collapse" data-target="#collapseExample0"
                   aria-expanded="false" aria-controls="collapseExample0"
                   style="display: block;background: rgba(0,0,0,0.03);color: #007bff;    padding: 0.75rem 1.25rem;border: 1px solid rgba(0,0,0,0.125)">
                    <div style="padding: 0.375rem 0.75rem;">Toggle Schedule</div>
                </a>
                <div class="collapse" id="collapseExample0">
                    <div class="card">
                        <table>
                            <thead>
                            <tr>
                                <th>Event name</th>
                                <th>Date</th>
                                <th>From time</th>
                                <th>To time</th>
                                <th>Location</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for s in schedule %}
                                <tr>
                                    <td>{{ s.event_name }}</td>
                                    <td>{{ s.date }}</td>
                                    <td>{{ s.from_time }}</td>
                                    <td>{{ s.to_time }}</td>
                                    <td>{{ s.location }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <a data-toggle="collapse" data-target="#collapseExample"
                   aria-expanded="false" aria-controls="collapseExample"
                   style="display: block;background: rgba(0,0,0,0.03);color: #007bff;    padding: 0.75rem 1.25rem;border: 1px solid rgba(0,0,0,0.125)">
                    <div style="padding: 0.375rem 0.75rem;">Show Transactions</div>
                </a>
                <div class="collapse" id="collapseExample">
                    <div class="card card-body" style="padding: 0; height: 20rem; border-top: none">
                        <table class="table table-striped tableFixHead max-height" id="e_i_table">
                            <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">D</th>
                                <th scope="col">A</th>
                                <th scope="col">T</th>
                                <th scope="col">M</th>
                                <th scope="col">T</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for e in incomeAndExpense %}
                                {% ifequal e.type 'income' %}
                                    <tr style="color:green">
                                        <th>{{ forloop.counter }}</th>
                                        <td class="table-date">{{ e.date|date:"d/m/y" }}</td>
                                        <td>{{ e.amount }}</td>
                                        <td title="{{ e.tags }}" class="table-tag">{{ e.tags|slice:':15' }}</td>
                                        <td class="table-mode">{{ e.mode|slice:':1' }}</td>
                                        <td>{{ e.type|slice:':1' }}</td>
                                    </tr>
                                {% else %}
                                    <tr style="color:red">
                                        <th>{{ forloop.counter }}</th>
                                        <td class="table-date">{{ e.date|date:"d/m/y" }}</td>
                                        <td>{{ e.amount }}</td>
                                        <td title="{{ e.tags }}" class="table-tag">{{ e.tags|slice:':15' }}</td>
                                        <td class="table-mode">{{ e.mode|slice:':1' }}</td>
                                        <td>{{ e.type|slice:':1' }}</td>
                                    </tr>
                                {% endifequal %}

                            {% endfor %}
                            </tbody>
                            <tfoot>
                            <tr style="color: #002a80;font-weight: bolder">

                                <td>
                                    <button class="btn-primary" style="display: inline;" onclick="gotoTop()">▴</button>
                                    <button class="btn-danger" style="display: inline;" onclick="gotoBottom()">▾
                                    </button>
                                </td>
                                <td>TT: {{ total }}</td>
                                <td>B.B</td>
                                <td>{{ bank_balance }}</td>
                                <td>C.B</td>
                                <td>{{ cash_balance }}</td>
                            </tr>

                            </tfoot>
                        </table>
                    </div>
                </div>
                <a data-toggle="collapse" data-target="#collapseExample2"
                   aria-expanded="false" aria-controls="collapseExample2"
                   style="display: block;background: rgba(0,0,0,0.03);color: #007bff;    padding: 0.75rem 1.25rem;border: 1px solid rgba(0,0,0,0.125)">
                    <div style="padding: 0.375rem 0.75rem;">Show Stats</div>
                </a>
                <div class="collapse" id="collapseExample2">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title btn-primary" style="display: inline;padding: 5px">Average Exp.
                                {{ stats.daily_expenses_mean }} ₹</h5>
                            <br>
                            <br>
                            <h5 class="card-title btn-primary"
                                style="display: inline;padding: 5px">Median
                                Exp.
                                {{ stats.daily_expenses_median }} ₹</h5>
                            <br>
                            <br>
                            <h5 class="card-title btn-primary"
                                style="display: inline;padding: 5px">Mode
                                Exp.
                                {{ stats.daily_expenses_mode }} ₹</h5>
                        </div>
                    </div>
                </div>
                <a data-toggle="collapse" data-target="#collapseExample3"
                   aria-expanded="false" aria-controls="collapseExample3"
                   style="display: block;background: rgba(0,0,0,0.03);color: #007bff;    padding: 0.75rem 1.25rem;border: 1px solid rgba(0,0,0,0.125)">
                    <div style="padding: 0.375rem 0.75rem;">Show Graph</div>
                </a>
                <div class="collapse" id="collapseExample3">
                    <div class="card">
                        <canvas id="myChart"></canvas>
                    </div>
                </div>

            </div>
            <div class="col-lg-6 col-sm-12 mr-tp-responsive">
                <div class="accordion" id="accordionExample">
                    <div class="card">
                        <div class="card-header" id="headingOne">
                            <h5 class="mb-0">
                                <button class="btn text-success" type="button" data-toggle="collapse"
                                        data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    Add multiple Expenses
                                </button>
                            </h5>
                        </div>

                        <div id="collapseOne" class="collapse" aria-labelledby="headingOne"
                             data-parent="#accordionExample">
                            <div class="card-body">
                                <div class="card">
                                    <form action="{% url 'home:expense_create_multiple' %}" method="post">
                                        {% csrf_token %}
                                        {{ form_set_expenses.management_form }}

                                        <table class="table">
                                            <thead>
                                            {% for form in form_set_expenses %}
                                                {% if forloop.first %}
                                                    {% for field in form %}
                                                        <th>{{ field.label_tag }}</th>
                                                    {% endfor %}
                                                {% endif %}
                                                </thead>
                                                <tbody>
                                                <tr>
                                                    {% for f in form %}
                                                        {% ifequal f.name 'date' %}
                                                            <td>{% render_field f class="form-control datepicker" autocomplete="off" placeholder=f.label   %}
                                                                {# placeholder=f.label  #}</td>
                                                        {% else %}
                                                            <td>{% render_field f class="form-control" placeholder=f.label   %}
                                                                {# placeholder=f.label  #}</td>
                                                        {% endifequal %}
                                                    {% endfor %}
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                            <tfoot>
                                            <tr>
                                                <td style="padding: 10px 5px"><input type="text" id="set_all_date"
                                                                                     class="form-control datepicker">
                                                </td>
                                                <td style="padding: 10px 5px">
                                                    <button type="button" class="btn btn-primary" onclick="set_all()">
                                                        Date
                                                    </button>
                                                </td>
                                                <td style="padding: 10px 5px"></td>
                                                <td style="padding: 10px 5px"><input type="submit"
                                                                                     class="btn btn-success"></td>
                                            </tr>
                                            </tfoot>
                                        </table>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingTwo">
                            <h5 class="mb-0">
                                <button class="btn  collapsed text-success" type="button" data-toggle="collapse"
                                        data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    Add multiple Income
                                </button>
                            </h5>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                             data-parent="#accordionExample">
                            <div class="card-body">
                                <div class="card">
                                    <form action="{% url 'home:income_create_multiple' %}" method="post">
                                        {% csrf_token %}
                                        {{ form_set_income.management_form }}

                                        <table class="table">
                                            <thead>
                                            {% for form in form_set_income %}
                                                {% if forloop.first %}
                                                    {% for field in form %}
                                                        <th>{{ field.label_tag }}</th>
                                                    {% endfor %}
                                                {% endif %}
                                                </thead>
                                                <tbody>
                                                <tr>
                                                    {% for f in form %}
                                                        {% ifequal f.name 'date' %}
                                                            <td>{% render_field f class="form-control datepicker" autocomplete="off" placeholder=f.label %}</td>
                                                        {% else %}
                                                            <td>{% render_field f class="form-control" placeholder=f.label %}</td>
                                                        {% endifequal %}
                                                    {% endfor %}
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                            <tfoot>
                                            <tr>
                                                <td style="padding: 10px 5px"><input type="text" id="set_all_date"
                                                                                     class="form-control datepicker">
                                                </td>
                                                <td style="padding: 10px 5px">
                                                    <button type="button" class="btn btn-primary" onclick="set_all()">
                                                        Set to all
                                                    </button>
                                                </td>
                                                <td style="padding: 10px 5px"></td>
                                                <td style="padding: 10px 5px"><input type="submit"
                                                                                     class="btn btn-success"></td>
                                            </tr>
                                            </tfoot>
                                        </table>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingTwo">
                            <h5 class="mb-0">
                                <button class="btn  collapsed text-success" type="button" data-toggle="collapse"
                                        data-target="#collapseThree" aria-expanded="false" aria-controls="collapseTwo">
                                    Add multiple Schedule
                                </button>
                            </h5>
                        </div>
                        <div id="collapseThree" class="collapse" aria-labelledby="headingTwo"
                             data-parent="#accordionExample">
                            <div class="card-body">
                                <div class="card">
                                    <form action="{% url 'home:schedule_create_multiple' %}" method="post">
                                        {% csrf_token %}
                                        {{ form_set_schedule.management_form }}
                                        <table class="table">
                                            <thead>
                                            {% for form in form_set_schedule %}
                                                {% if forloop.first %}
                                                    {% for field in form %}
                                                        <th>{{ field.label_tag }}</th>
                                                    {% endfor %}
                                                {% endif %}
                                                </thead>
                                                <tbody>
                                                <tr>
                                                    {% for f in form %}
                                                        {% ifequal f.name 'date' %}
                                                            <td>{% render_field f class="form-control datepicker" autocomplete="off" placeholder=f.label %}</td>
                                                        {% else %}
                                                            <td>{% render_field f class="form-control" placeholder=f.label %}</td>
                                                        {% endifequal %}
                                                    {% endfor %}
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                            <tfoot>
                                            <tr>

                                                <td style="padding: 10px 5px"></td>
                                                <td style="padding: 10px 5px"><input type="submit"
                                                                                     class="btn btn-success"></td>
                                            </tr>
                                            </tfoot>
                                        </table>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="mb-5"></div>
{% endblock content %}

{% block footer %}
    {#   Modal#}
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">
                        <span id="trans_week_day"></span>
                        <span id="trans_date"></span>
                        <span id="trans_month"></span>
                        <span id="trans_year"></span>
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div id="modal-body-table" class="modal-body">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
{% endblock footer %}

{% block script %}
    <script src="{% static 'js/bootstrap-datepicker.min.js' %}"></script>
    <script>
        $('.datepicker').datepicker({
            format: 'd/m/yy',
            autoclose: true,
        });
    </script>
    <script>
        function set_all() {
            $('.datepicker').each(function (index, value) {
                $(this).val($('#set_all_date').val())
            })
        }
    </script>
    <script>
        function gotoTop() {
            var objDiv = document.getElementById("e_i_table");
            objDiv.scrollTop = 0;
        }

        function gotoBottom() {
            var objDiv = document.getElementById("e_i_table");
            objDiv.scrollTop = objDiv.scrollHeight;
        }

    </script>
    <script>
        var speedData = {
            labels: [
                {% for a in stats.dates_array%}
                    "{{ a }}" ,
                {% endfor %}
            ],

            datasets: [{
                label: "income",
                data: [
                    {% for a in stats.daily_income%}

                        {{ a }},
                    {% endfor %}
                ],
                backgroundColor: ['rgba(0, 171,12, 0.7)'],
            },
                {
                    label: "expenses",
                    data: [
                        {% for a in stats.daily_expenses%}

                            {{ a }},
                        {% endfor %}
                    ],
                    backgroundColor: ['rgba(180, 20,20, 0.7)'],
                },
            ]

        };

        var chartOptions = {
            legend: {
                backgroundColor: 'red',
                display: true,
                position: 'top',
                labels: {
                    boxWidth: 80,
                    fontColor: 'black'
                }
            },

        };
        var ctx = document.getElementById('myChart').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'line',
            data: speedData,
            options: chartOptions,

        });
    </script>
    <script>

        document.getElementById("myChart").onclick = function (evt) {
            var activePoints = myChart.getElementsAtEvent(evt);
            var firstPoint = activePoints[0];
            var label = myChart.data.labels[firstPoint._index];
            var value = myChart.data.datasets[firstPoint._datasetIndex].data[firstPoint._index];
            if (firstPoint !== undefined) {
                loadIndividualTransactionData(label);
            }
        };
    </script>
    <script>
        function loadIndividualTransactionData(label) {
            var days = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'];

            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    var arr = JSON.parse(JSON.parse(this.responseText));
                    trans_arr = [];

                    $('#modal-body-table').empty();

                    let table = $('<table></table>').addClass('table');
                    let head_row = $('<th></th>').addClass('modal_head');
                    let date_row = $('<td></td>').addClass('');
                    let day_row = $('<td></td>').addClass('');
                    for (var i = 0, len = arr.length; i < len; ++i) {
                        var obj = arr[i];
                        var row = $('<tr></tr>').addClass('bar');
                        date_obj = new Date(obj.fields.date);
                        if (obj.fields.type === 'income') {
                            row.css('color', 'green');
                        } else {
                            row.css('color', 'red');

                        }
                        var td2 = $('<td></td>').text(obj.fields.amount);
                        var td3 = $('<td></td>').text(obj.fields.tags);
                        var td4 = $('<td></td>').text(obj.fields.mode);
                        var td5 = $('<td></td>').text(obj.fields.type);

                        row.append(td2);
                        row.append(td3);
                        row.append(td4);
                        row.append(td5);

                        table.append(row);
                    }

                    $('#modal-body-table').append(table);
                    $('#trans_week_day').text(days[date_obj.getDay()]);
                    $('#trans_date').text(date_obj.getDate());
                    const month = date_obj.toLocaleString('default', {month: 'long'});
                    $('#trans_month').text(month);
                    $('#trans_year').text(date_obj.getFullYear());
                    $('#exampleModalCenter').modal('show');


                }
            };
            xhttp.open("GET", "get/transaction/?date=" + label, true);
            xhttp.send();
        }
    </script>

{% endblock script %}