{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/bootstrap-datepicker.min.css' %}">
    <style>
        .tableFixHead {
            overflow-y: scroll;
        }

        .tableFixHead thead th {
            position: sticky;
            top: -2px;
        }

        .tableFixHead tfoot td {
            position: sticky;
            bottom: 0;
            background: #eee;
        }

        .tableFixHead {
            display: block;
            height: 83vh;
            overflow-y: scroll;
        }


        th {
            background: #eee;
        }

        @media only screen and (max-width: 768px) {
            .tableFixHead {
                font-size: .8rem;
            }

            .table-tag {
                display: block;
                width: 100px;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }

            .table-date {
                display: block;
                width: 70px;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }

            .table-mode {


                width: 100px;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }

            .table th, .table td {
                padding: .50rem;
            }

            .mr-tp-responsive {
                margin-top: 5rem;
            }


        }

        .btn:focus {
            box-shadow: none;
        }

        .max-height {
            height: 800px !important;
        }
    </style>
{% endblock style %}
{% block header %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <a class="navbar-brand" href="#"><b class="text-primary">Daily Expense Tracker</b></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">

                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Dropdown
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-success my-2 my-sm-0" type="submit">Search</button>
            </form>
            <button class="btn btn-danger my-2 my-sm-0 ml-lg-2" type="submit">Logout</button>

        </div>
    </nav>

{% endblock header %}
{% block content %}
    <div class="mt-5"></div>
    <div class="mt-5"></div>
    <div class="container" style="padding: 10px">
        <div class="row">
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-header">
                        You have <b>{{ bank_balance }} ₹</b> in your account
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-header">
                        You spent today {{ stats.today_expenses }}₹
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container max-height" style="padding: 15px;">
        <div class="row mt-4x">
            <div class="col-lg-6 col-sm-12">
                <a data-toggle="collapse" data-target="#collapseExample"
                   aria-expanded="false" aria-controls="collapseExample"
                   style="display: block;background: rgba(0,0,0,0.03);color: #007bff;    padding: 0.75rem 1.25rem;border: 1px solid rgba(0,0,0,0.125)">
                    <div style="padding: 0.375rem 0.75rem;">Show Transactions</div>
                </a>
                <div class="collapse" id="collapseExample">
                    <div class="card card-body" style="padding: 0; height: 33rem;border-top: none">
                        <table class="table table-striped tableFixHead max-height" id="e_i_table">
                            <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">D</th>
                                <th scope="col">A</th>
                                <th scope="col">T</th>
                                <th scope="col">M</th>
                                <th scope="col">T</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for e in incomeAndExpense %}
                                {% ifequal e.type 'income' %}
                                    <tr style="color:green">
                                        <th>{{ forloop.counter }}</th>
                                        <td class="table-date">{{ e.date|date:"d/m/y" }}</td>
                                        <td>{{ e.amount }}</td>
                                        <td title="{{ e.tags }}" class="table-tag">{{ e.tags|slice:':15' }}</td>
                                        <td class="table-mode">{{ e.mode|slice:':1' }}</td>
                                        <td>{{ e.type|slice:':1' }}</td>
                                    </tr>
                                {% else %}
                                    <tr style="color:red">
                                        <th>{{ forloop.counter }}</th>
                                        <td class="table-date">{{ e.date|date:"d/m/y" }}</td>
                                        <td>{{ e.amount }}</td>
                                        <td title="{{ e.tags }}" class="table-tag">{{ e.tags|slice:':15' }}</td>
                                        <td class="table-mode">{{ e.mode|slice:':1' }}</td>
                                        <td>{{ e.type|slice:':1' }}</td>
                                    </tr>
                                {% endifequal %}

                            {% endfor %}
                            </tbody>
                            <tfoot>
                            <tr style="color: #002a80;font-weight: bolder">

                                <td>
                                    <button class="btn-primary" style="display: inline;" onclick="gotoTop()">▴</button>
                                    <button class="btn-danger" style="display: inline;" onclick="gotoBottom()">▾
                                    </button>
                                </td>
                                <td>TT: {{ total }}</td>
                                <td>B.B</td>
                                <td>{{ bank_balance }}</td>
                                <td>C.B</td>
                                <td>{{ cash_balance }}</td>
                            </tr>

                            </tfoot>
                        </table>
                    </div>
                </div>
                <a data-toggle="collapse" data-target="#collapseExample2"
                   aria-expanded="false" aria-controls="collapseExample2"
                   style="display: block;background: rgba(0,0,0,0.03);color: #007bff;    padding: 0.75rem 1.25rem;border: 1px solid rgba(0,0,0,0.125)">
                    <div style="padding: 0.375rem 0.75rem;">Show Stats</div>
                </a>
                <div class="collapse" id="collapseExample2">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title btn-primary" style="display: inline;padding: 5px">Average Exp.
                                {{ stats.daily_expenses_mean }} ₹</h5>
                            <br>
                            <br>
                            <h5 class="card-title btn-primary"
                                style="display: inline;padding: 5px">Median
                                Exp.
                                {{ stats.daily_expenses_median }} ₹</h5>
                            <br>
                            <br>
                            <h5 class="card-title btn-primary"
                                style="display: inline;padding: 5px">Mode
                                Exp.
                                {{ stats.daily_expenses_mode }} ₹</h5>
                        </div>
                    </div>
                </div>
                <a data-toggle="collapse" data-target="#collapseExample3"
                   aria-expanded="false" aria-controls="collapseExample3"
                   style="display: block;background: rgba(0,0,0,0.03);color: #007bff;    padding: 0.75rem 1.25rem;border: 1px solid rgba(0,0,0,0.125)">
                    <div style="padding: 0.375rem 0.75rem;">Show Graph</div>
                </a>
                <div class="collapse" id="collapseExample3">
                    <div class="card">
                        <canvas id="myChart"></canvas>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-sm-12 mr-tp-responsive">
                <div class="accordion" id="accordionExample">
                    <div class="card">
                        <div class="card-header" id="headingOne">
                            <h5 class="mb-0">
                                <button class="btn" type="button" data-toggle="collapse"
                                        data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    Add multiple Expenses
                                </button>
                            </h5>
                        </div>

                        <div id="collapseOne" class="collapse" aria-labelledby="headingOne"
                             data-parent="#accordionExample">
                            <div class="card-body">
                                <div class="card">
                                    <form action="{% url 'home:expense_create_multiple' %}" method="post">
                                        {% csrf_token %}
                                        {{ form_set_expenses.management_form }}

                                        <table class="table">
                                            <thead>
                                            {% for form in form_set_expenses %}
                                                {% if forloop.first %}
                                                    {% for field in form %}
                                                        <th>{{ field.label_tag }}</th>
                                                    {% endfor %}
                                                {% endif %}
                                                </thead>
                                                <tbody>
                                                <tr>
                                                    {% for f in form %}
                                                        {% ifequal f.name 'date' %}
                                                            <td>{% render_field f class="form-control datepicker" autocomplete="off" %}
                                                                {# placeholder=f.label  #}</td>
                                                        {% else %}
                                                            <td>{% render_field f class="form-control" %}
                                                                {# placeholder=f.label  #}</td>
                                                        {% endifequal %}
                                                    {% endfor %}
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                            <tfoot>
                                            <tr>
                                                <td style="padding: 10px 5px"><input type="text" id="set_all_date"
                                                                                     class="form-control datepicker">
                                                </td>
                                                <td style="padding: 10px 5px">
                                                    <button type="button" class="btn btn-primary" onclick="set_all()">
                                                        Date
                                                    </button>
                                                </td>
                                                <td style="padding: 10px 5px"></td>
                                                <td style="padding: 10px 5px"><input type="submit"
                                                                                     class="btn btn-success"></td>
                                            </tr>
                                            </tfoot>
                                        </table>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingTwo">
                            <h5 class="mb-0">
                                <button class="btn  collapsed" type="button" data-toggle="collapse"
                                        data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    Add multiple Income
                                </button>
                            </h5>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                             data-parent="#accordionExample">
                            <div class="card-body">
                                <div class="card">
                                    <form action="{% url 'home:income_create_multiple' %}" method="post">
                                        {% csrf_token %}
                                        {{ form_set_income.management_form }}

                                        <table class="table">
                                            <thead>
                                            {% for form in form_set_income %}
                                                {% if forloop.first %}
                                                    {% for field in form %}
                                                        <th>{{ field.label_tag }}</th>
                                                    {% endfor %}
                                                {% endif %}
                                                </thead>
                                                <tbody>
                                                <tr>
                                                    {% for f in form %}
                                                        {% ifequal f.name 'date' %}
                                                            <td>{% render_field f class="form-control datepicker" autocomplete="off" placeholder=f.label %}</td>
                                                        {% else %}
                                                            <td>{% render_field f class="form-control" placeholder=f.label %}</td>
                                                        {% endifequal %}
                                                    {% endfor %}
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                            <tfoot>
                                            <tr>
                                                <td style="padding: 10px 5px"><input type="text" id="set_all_date"
                                                                                     class="form-control datepicker">
                                                </td>
                                                <td style="padding: 10px 5px">
                                                    <button type="button" class="btn btn-primary" onclick="set_all()">
                                                        Set to all
                                                    </button>
                                                </td>
                                                <td style="padding: 10px 5px"></td>
                                                <td style="padding: 10px 5px"><input type="submit"
                                                                                     class="btn btn-success"></td>
                                            </tr>
                                            </tfoot>
                                        </table>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="mb-5"></div>
{% endblock content %}

{% block footer %}{% endblock footer %}

{% block script %}
    <script src="{% static 'js/bootstrap-datepicker.min.js' %}"></script>
    <script>
        $('.datepicker').datepicker({
            format: 'd/m/yy',
            autoclose: true,
        });


    </script>
    <script>
        function set_all() {
            $('.datepicker').each(function (index, value) {
                $(this).val($('#set_all_date').val())
            })
        }
    </script>
    <script>
        function gotoTop() {
            var objDiv = document.getElementById("e_i_table");
            objDiv.scrollTop = 0;
        }

        function gotoBottom() {
            var objDiv = document.getElementById("e_i_table");
            objDiv.scrollTop = objDiv.scrollHeight;
        }

    </script>
    <script>
        var speedData = {
            labels: [
                {% for a in stats.dates_array%}
                    "{{ a }}" ,
                {% endfor %}
            ],
            datasets: [{
                label: "income",
                data: [
                    {% for a in stats.daily_income%}

                        {{ a }},
                    {% endfor %}
                ],
                backgroundColor: ['rgba(0, 171,12, 0.7)'],
            },
                {
                    label: "expenses",
                    data: [
                        {% for a in stats.daily_expenses%}

                            {{ a }},
                        {% endfor %}
                    ],
                    backgroundColor: ['rgba(180, 20,20, 0.7)'],
                },
            ]

        };

        var chartOptions = {
            legend: {
                backgroundColor: 'red',
                display: true,
                position: 'top',
                labels: {
                    boxWidth: 80,
                    fontColor: 'black'
                }
            }
        };
        var ctx = document.getElementById('myChart').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'line',
            data: speedData,
            options: chartOptions
        });
    </script>
{% endblock script %}