djangorestframework
Django==2.1.3
django-mathfilters==0.4.0
django-widget-tweaks==1.4.3
et-xmlfile==1.0.1
html5lib==1.0.1
isort==4.3.4
jdcal==1.4.1
openpyxl==2.6.2
Pillow==9.0.1
psycopg2==2.7.6.1
psycopg2-binary==2.7.6.1
PyPDF2==1.26.0
python-dateutil==2.8.0
pytz==2018.7
reportlab==3.5.18
six==1.12.0
webencodings==0.5.1
xhtml2pdf==0.2.3
